@font-face {
    font-family: foot;
    src: url(Crayonara-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #3b3e92;
}

#snowglobe{
    width: 85vmin;
    height: 85vmin;
    background: #5373d2;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 20px 35px #FFFFFF05;
    position: relative;

    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow:
    0 0 20px 10px rgba(255, 255, 255, 0.1),
    0 0 40px 20px rgba(255, 255, 255, 0.08),
    0 0 80px 40px rgba(255, 255, 255, 0.05),
    0 0 120px 60px rgba(255, 255, 255, 0.03),
    inset 0 0 30px 10px rgba(255, 255, 255, 0.05);
}

#globe-image {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

#particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 2;
    pointer-events: none;
}

#ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: #9b846d;
    z-index: 3;
    border-radius: 0 0 50% 50% / 0 0 20% 20%;
}

@keyframes shake {
    0%, 100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(10deg);
    }
}

.shake{
    animation: shake 1s;
}

footer{
    margin-bottom: 15px;
    font-family: foot;
    font-size: 25px;
    color: #d1edf8;
    text-align: center;
    padding: 10px;
    z-index: 10;
    position: relative;
}